<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pract.mybatis.api.impl.mapper.SellerMapper">

    <select id="findAllSellerNameById" parameterType="list" resultType="java.lang.String">

        SELECT name FROM seller
        <if test="ids.size() > 0">
            WHERE id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="findSellerNameById" resultType="java.lang.String">
        <if test="id != null">
            SELECT name FROM seller WHERE id = #{id}
        </if>
    </select>
    <select id="toDto" resultType="org.pract.mybatis.api.dto.SellerDto">
        SELECT * FROM seller where id = #{id}
    </select>
    <select id="findByName" resultType="org.pract.mybatis.api.impl.models.SellerModel">
        SELECT * FROM seller
        WHERE
        name = #{name}
        OR
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="findAllSellerName" resultType="java.lang.String">
        SELECT name FROM seller;
    </select>
</mapper>